
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <p><strong>Catégorie :</strong> <%= post.category.label if post.category %></p>
    
    <% if !post.tags.empty? %>
    <p> <strong>Tags:</strong>
        <% post.tags.each do |tag| %>
            <span class="label label-info"><%= tag.name %></span>
        <% end %>
    </p>
    <% end %>
    
    <p>
        <%= link_to('Lire la suite', post, class:"btn btn-primary")%>
        <%= link_to('Éditer', [:edit, post], class:"btn btn-default")%>
        <%= link_to('Supprimer', post_path(post.id), class:"btn btn-danger", data: {confirm: 'êtes vous sûr ?', method: :delete} )%>
       <!-- <a href="<%= post_path(post.id) %>" class="btn btn-primary">Lire l'article complet</a>
       <a href="<%= edit_post_path(post.id) %>" class="btn btn-default">Modifier l'article</a> -->
       <%= button_to "Supprimer l'article", post_path(post.id),method: :delete,
            data: { confirm: "Êtes-vous sûr ?" },
            class: "btn btn-danger" %>
    </p>