<h1>Éditer l'article</h1>

<% if @post.invalid?%>

<div class="alert alert-danger">
        <% @post.errors.full_messages.each do |message| %>
        <ul>
            <li><p><%= message %></p></li>
        </ul>
        <% end %>
    </div>

<% end %>

<%= form_for @post do |f| %>

<div class="form-group">
    <%= f.label :title, "Titre de l'article" %>
    <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :contenu, "Contenu de l'article" %>
    <%= f.text_area :content, class: "form-control" %>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Mettre à jour l'article</button>
</div>

<% end %>