<h1>Articles</h1>

<%= @categories.each do |categorie| %>

    <h2><%= categorie.title %></h2>
    <p><%= categorie.content %></p>
    <p>
       <a href="<%= edit_categorie_path(categorie.id) %>" class="btn btn-default">Modifier la categorie</a>
       <%= button_to "Supprimer la categorie", categorie_path(categorie.id),method: :delete,
            data: { confirm: "Êtes-vous sûr ?" },
            class: "btn btn-danger" %>
    </p>
<% end %>